<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF TO DOCX</title>
</head>
<body>
<h1>PDF to DOCX</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document" accept="application/pdf">
    <button type="submit">Upload file</button>

</form>

<a href="{% url 'home' %}">home</a>
</body>
</html>